.card-character-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 0rem;
    background-color: aliceblue;
    margin-bottom: 20px;
}

.card-img-top {
    align-content: center;
}

.card-title {
    font-size: 18px bold;
    flex-flow: row wrap;
    justify-content: center;
}
